body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    
}

.container {
    max-width: 400px;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: -7;
}

.logo {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc; /* Only bottom border */
    border-radius: 0; /* No border radius */
    box-sizing: border-box;
    background-color: transparent;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.input-group-text {
    background-color: transparent !important; /* Override any Bootstrap default */
    border: none; /* Remove all borders */
}

.input-group-text::before {
    border-bottom: 1px solid #ccc; /* Only bottom border */
    border-radius: 0; /* No border radius */
}
.form-control:focus {
    box-shadow: 0 0 0 .2rem transparent;
    border-bottom: 1px solid #ccc; /* Only bottom border */
}
.img_wrapper > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



/* wave */
